*{
    font-family: Verdana;
    font-size: 10;


}
title{
    background-color: white;
    text-align: center;
    display: block;
}
id1 {
    color: red;
    display: block;
    font-weight: bold;
}
id2{
    display: block;
    color: blue;
    font-weight: bold;
}
id3{
    display: block;
    color: red;
    font-weight: bold;
}
id4{
    display: block;
    color: blue;
    font-weight: bold;
}

